.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-light;
}

.dialog-header {
  font-size: $h-4;
  margin: 2% 0%;
}

.dialog-header-text {
  font-size: $fs-xs;
  width: 70%;
  margin: 0 5%;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 5% 0 0;
}

.name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 1% 0;
}

.naming {
  width: 100%;
  padding: 0;
  margin: 1% 0;
}

.naming-error {
  border-color: $error !important;
  width: 100%;
  padding: 0;
  margin: 1% 0;
}

.naming-error::placeholder {
  color: $error !important;
  opacity: 1 !important;
}

.email {
  width: 97.5%;
  margin: 1% 0;
  padding: 0;
}

.email-error {
  border-color: $error !important;
  width: 97.5%;
  margin: 1% 0;
  padding: 0;
}

.email-error::placeholder {
  color: $error !important;
  opacity: 1 !important;
}

.subject {
  background-color: $light;
  height: 100%;
  width: 100%;
  border: 1px solid $dark;
  border-radius: 2px;
  margin: 1% 0;
  padding: 1%;
}

.subject-error {
  background-color: $light;
  height: 2.5vh;
  width: 100%;
  border: 1px solid $error;
  border-radius: 2px;
  margin: 1% 0;
  padding: 0 2%;
  color: $error;
}

.textarea {
  background-color: $light;
  min-height: 10vh;
  max-height: 40vh;
  width: 97.5%;
  border: 1px solid $dark;
  border-radius: 2px;
  resize: vertical;
  margin: 1% 0;
  padding: 2%;
}

.textarea::placeholder {
  color: $trans-dark;
  opacity: 0.5;
}

.textarea-error {
  background-color: $light;
  min-height: 10vh;
  max-height: 40vh;
  width: 97.5%;
  border: 1px solid $error;
  border-radius: 2px;
  resize: vertical;
  margin: 1% 0;
  padding: 2%;
}

.textarea-error::placeholder {
  color: $error;
  opacity: 1;
}

.submit {
  background-color: $light;
  color: $dark;
  height: 3vh;
  width: 30%;
  border: 1px solid $dark;
  margin: 3% 0;
  cursor: pointer;
}

.submit:active {
  background-color: $primary-btn;
}

.error {
  color: $error;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 3% 0;
}

.item-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  margin: 3% 0;
}

.close-icon {
  background: transparent;
  align-self: flex-end;
  border-width: 0;
  font-size: 0;
  cursor: pointer;
  margin: 2%;
}

/* General */

input[type="text"] {
  /* stylelint-disable-line */
  background-color: $light;
  height: 2.5vh;
  border: 1px solid $dark;
  border-radius: 2px;
  padding: 0 2%;
}

input[type="text"]::placeholder {
  /* stylelint-disable-line */
  color: $dark;
  opacity: 0.5;
}
