.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-dark;
  width: 100%;
}

.cover-image {
  width: 100%;
}

.hidden-header-button {
  background: transparent;
  border: none !important; /* stylelint-disable-line */
  padding: 0%;
  width: 100%;
  cursor: pointer;
}
