.nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 10px 0 20px;
  width: 70%;
}

.hidden-nav-button {
  background: transparent;
  position: absolute;
  margin-left: 69%;
  border: none !important; /* stylelint-disable-line */
  cursor: pointer;
}

.tab-item {
  background: transparent;
  border: none !important; /* stylelint-disable-line */
  color: $header-nav-button;
  margin: 0 10px;
  font-size: 25px;
}

.tab-item:hover {
  -webkit-text-stroke: 1.5px $header-nav-button;
  cursor: pointer;
}

.tab-item-selected {
  background: transparent;
  border: none !important; /* stylelint-disable-line */
  color: $header-nav-button-chosen;
  margin: 0 10px;
  font-size: 25px;
  -webkit-text-stroke: 1.5px $header-nav-button-chosen;
}
