.nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5% 0;
  width: 30%;
}

.hidden-nav-button {
  background: transparent;
  position: absolute;
  margin-left: 69%;
  cursor: pointer;
}

.tab-item {
  background: transparent;
  border-width: 0;
  color: $light;
  margin: 0 10%;
  width: 100%;
  font-size: $fs-xs;
}

.tab-item:hover {
  -webkit-text-stroke: 1.5px $light;
  cursor: pointer;
}

.tab-item-selected {
  background: transparent;
  border-width: 0;
  color: $primary-nav;
  margin: 0 10%;
  width: 100%;
  font-size: $fs-xs;
  -webkit-text-stroke: 1.5px $primary-nav;
}
