.social-media-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% 0;
  width: 100%;
}

.social-icon {
  background: transparent;
  cursor: pointer;
  margin: 0 0.2%;
}
