.services-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background-color: $primary-light;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: $fs-sm;
  line-height: $sp-xxl;
  width: 80%;
  margin: 1% 0;
  border: 1px solid $dark;
}

.feedback-data-container {
  margin-top: $sp-xl;
}
