%basic-service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  background-color: $secondary-dark;
  margin: 5% 0;
}

.music-production-container {
  @extend %basic-service-container;
}

.mixing-container {
  @extend %basic-service-container;
  margin: 0;
}

.mastering-container {
  @extend %basic-service-container;
}

%content-container-temp {
  display: flex;
  height: 100%;
  color: $light;
}

.content-container {
  @extend %content-container-temp;
}

.reverse-content-container {
  @extend %content-container-temp;
  flex-direction: row-reverse;
}

.header {
  font-size: $h-4;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: $fs-sm;
  text-align: center;
  margin: 0 10%;
  width: 34%;
  height: 100%;
}

.production-logo {
  width: 46%;
  height: 100%;
  padding: 0 2%;
}

.production-button {
  position: static;
  width: 6vw;
  height: 5vh;
  font-size: $fs-xs;
  color: $dark;
  border-radius: 5px;
  background-color: $light;
  cursor: pointer;
}

p {
  margin: 0;
}
